/*通配符*/
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body{
	font-size: 12px;
}
img{
	border: 0;
}
.clear{
	clear: ;
}
ul li{
	list-style: none;
}
i，em{
	font-style: normal;
}
.clear {
    clear: both;
}
a{
	color: #000;
}