.slogin {
    position: relative;
    width: 100%;
    height: 475px;
    margin: 40px auto;
    background: transparent url(../img/login/login.png) no-repeat scroll center center;
    background-image: 100% 100%;
}
.slogin_page {
    width: 345px;
    height: 360px;
    background: yellow;
    position: absolute;
    position: relative;
    top: 40px;
    left: 57.8%;
}
#ct100{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #000;
}
.slogin_codebg {
    position: absolute;
    bottom: 0;
    right: 0;
}
input {
    padding: 0;
    outline: none;
}
.slogin_li {
    width: 305px;
    border: 1px solid rgba(255,255,255,0);
    margin: 20px auto 10px;
}
.slogin_li li {
    width: 305px;
    margin: 12px auto;
}
.slogin_li span {
    width: 130px;
    height: 20px;
    font-size: 17px;
    color: #555;
    display: inline-block;
    float: letf;
}
.slogin_li a {
    color: #c56c0e;
    font-size: 14px;
    height: 17px;
    float: right;
    display: block;
}
.slogin_li a img {
    vertical-align: middle;
}
.slogin_li li.slogin_notice {
    border: 1px solid #ffe57d;
    text-indent: 7px;
    background: #fff6d2;
    color: #666666;
    height: 24px;
    line-height: 24px;
}
.slogin_li li.slogin_notice img {
    padding: 0px 11px;
    vertical-align: middle;
}
.slogin_li li.slogin_border {
    border: 1px solid #bdbdbd;
    width: 303px;
    height: 38px;
}
.slogin_li li.slogin_border i {
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    background: #f3f3f3;
    border-right: 1px solid #dbdbdb;
}
.slogin_li li.slogin_border i img {
    padding: 10px;
}
.slogin_li li.slogin_border input {
    border: 1px solid #fff;
    color: #333;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    width: 262px;
    text-indent: 10px;
    float: left;
}
.slogin_li li.slogin_border {
    border: 1px solid #bdbdbd;
    width: 303px;
    height: 38px;
}
.slogin_li li.slogin_auto {
    height: 15px;
    color: #666;
    line-height: 15px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #000;
}
.slogin_li li.slogin_auto input {
    width: 10px;
    height: 10px;
    border: 1px solid #a7a7a7;
}
label {
    cursor: default;
}
.slogin_li li.slogin_auto a {
    color: #666;
    font-size: 12px;
}
.slogin_li li .slogin_submit {
    width: 305px;
    height: 38px;
    border: 1px solid #ff8b1e;
    background: #ff8b1e;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 24px;
    text-indent: 15px;
}
.slogin_web {
    width: 305px;
    margin: 0 auto;
    height: 250px;
    height: 50px;
}
.slogin_web p {
    color: #999;
}
.slogin_web ul li {
    background: #fbfbfb;
    float: left;
    width: 86px;
    line-height: 26px;
    height: 26px;
    border: 1px solid #eaeaea;
    color: #666;
    text-align: center;
    margin: 7px 5px 0 0;
}
.slogin_web ul li img {
    vertical-align: middle;
}