  /*限量秒杀模板样式*/
.fbL02_ul .fbL02_li {
    width: 208px;
    height: 260px;
    float: left;
    margin-top: 2px;
    border: 1px solid #fff;
}
.fbL02_licont {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 255px;
    border: 4px solid #fff;
}
.fbL02_licont>a {
    display: block;
    width: 145px;
    height: 230px;
    margin: 20px auto 0;
    cursor: pointer;
    transition: all 0.3s linear;
}
.fbL02_licont>a img {
    width: 100%;
    height: 140px;
}
.fbL02_licont>a p {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
.fbL02_licont>a i {
    display: inline-block;
    color: #ff6900;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}
.fbL02_licont>a i span {
    color: #686c69;
    font-size: 12px;
    text-decoration: line-through;
}
.fbL02_licont>a font {
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #8c9090;
    overflow: hidden;
    display: inline-block;
}
.fbL02_car {
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: 170px;
    height: 30px;
    background: #ff6900;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-indent: 15px;
    transition: all 0.3s linear;
}
.fbL02_car img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 30px;
}
.temple .fbL02_li:hover a{
    margin-top: 10px;
}
.temple .fbL02_li:hover i{
    height: 15px;
    line-height: 15px;
}
.temple .fbL02_li:hover .fbL02_car{
     bottom: 20px;
}

    /*土货模板样式*/
.fir_lR {
    float: left;
    width: 900px;
}
.fir_lRbox {
    width: 205px;
    height: 295px;
    float: left;
    margin: 5px 10px 0;
    overflow: hidden;
    position: relative;
}
.fir_lRbox a>img {
    width: 205px;
    height: 205px;
}
.fir_lRbox a>p {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    transition: all 0.3s linear;
}
.fir_lRbox a>p font {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
    overflow: hidden;
}
.fir_lRbox a>p i {
    display: block;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    color: #ff6900;
    transition: all 0.3s linear;
}
.fir_lRbox a>p i span {
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
    font-weight: normal;
}
.fir_lsadd {
    display: block;
    width: 100%;
    height: 30px;
    background: #ff6900;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    text-indent: 15px;
    position: absolute;
    bottom: -30px;
    left: 0;
    transition: all 0.3s linear;
    cursor: pointer;
}
.fir_lsadd img {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 45px;
    top: 2px;
}
.fir_lRbox:hover a p{
	margin-top: 0;
}
.fir_lRbox:hover a p i{
	line-height: 30px;
	height: 30px;
}
.fir_lRbox:hover i.fir_lsadd{
	bottom: 0px;
}