<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜农坊</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel="stylesheet" type="text/css" href="css/rightNume.css">
	<link rel="stylesheet" type="text/css" href="css/templates.css">
    <script src="lib/requirejs/require.js" data-main="js/index"></script>
</head>
<body>
	<div class="header" style="width: 100%;height: auto;"></div>
	 <div class="my_nav clear">
    	<div class="my_nav1200">
    		<div class="my_nav01">
    			所有产品分类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/menu.png"  alt="产品分类"/>
    			<!--定位导航 start-->
	    	<div class="my_position">
              
        		<div class="my_plist">
	    			<div class="my_pcontent my_pcontent1">
		    			<p><img src="img/list_fruit.png"  alt="水果"/>&nbsp;&nbsp;水果</p>
                            
	       <a href='javascript:void(0);' onClick="getsearchpro(277);" title="进口水果">进口水果</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(278);" title="源产水果">源产水果</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(279);" title="水果礼盒">水果礼盒</a>               	
                 	</div>
	    		</div>	    	          
       <div class="my_plist">
	    <div class="my_pcontent my_pcontent1">
		   <p><img src="img/list_fresh.png"  alt="土货"/>&nbsp;&nbsp;土货</p>
                            
	       <a href='javascript:void(0);' onClick="getsearchpro(283);" title="源产肉禽">源产肉禽</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(282);" title="农家食材">农家食材</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(284);" title="源创零食">源创零食</a> 
               	
      </div>
	  </div>
  <div class="my_plist">
	    <div class="my_pcontent my_pcontent1">
		<p><img src="img/list_sock.png"  alt="零食"/>&nbsp;&nbsp;零食</p>                     
	       <a href='javascript:void(0);' onClick="getsearchpro(285);" title="坚果蜜饯">坚果蜜饯</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(174);" title="饼干糕点">饼干糕点</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(175);" title="零嘴小食">零嘴小食</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(200);" title="冲调饮品">冲调饮品</a> 
               	
                 	</div>
	    		</div>
	    	          
        <div class="my_plist">
	    	<div class="my_pcontent my_pcontent1">
		    	<p><img src="img/list_local.png"  alt="礼盒"/>&nbsp;&nbsp;礼盒</p>
                            
	       <a href='javascript:void(0);' onClick="getsearchpro(261);" title="特色礼盒">特色礼盒</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(316);" title="土货礼盒">土货礼盒</a> 
               	 
	       <a href='javascript:void(0);' onClick="getsearchpro(317);" title="节庆礼盒">节庆礼盒</a>               	
      </div>
	</div>
	   </div>	
	    	<!--定位导航 end-->
    		</div>
    		<ul class="my_nav02">
               
	 	<a  href="#" title="首页" target="_self"><li>首页 <img src="img/hot_03.png" alt=""></li></a>
    		  
	 	<a  href="#" title="产品中心" target="_self"><li>产品中心 <img src="img/hot_03.png" alt=""></li></a>
    		  
	 	<a  href="#" title="企业定制" target="_self"><li>企业定制 <img src="img/hot_03.png" alt=""></li></a>
    		  
	 	<a  href="#" title="特色馆" target="_self"><li>特色馆 <img src="img/hot_03.png" alt=""></li></a>
    		  
	 	<a  href="#" title="会员活动" target="_self"><li>会员活动 <img src="img/hot_03.png" alt=""></li></a>
    		  
	 	<a  href="#" title="健康养生" target="_self"><li>健康养生 <img src="img/hot_03.png" alt=""></li></a>
    		</ul>	
    	</div>
    </div>
   <!-- 轮播图 -->
  <div class="banner"> 
  <div id="container">
		<ul id="imgs">
			<li><img src="img/contect1.jpg"></li>
			<li><img src="img/contect2.jpg"></li>
			<li><img src="img/contect3.jpg"></li>
			<li><img src="img/contect4.jpg"></li>
			<li><img src="img/contect5.jpg"></li>
		</ul>
		<div id="pages"></div>
	</div> 
</div>
    <!-- 限量秒杀 -->
      <div class="fir-box contect">
      	<div class="fir-bl">
      		<div class="fl01">
      			<div class="fl01-top">     
      				<span>
      					<img src="img/watch.png"/>
      				</span>
      				<font>限量秒杀</font>
      			</div>
      			<div class="fl01-bottom">
      				<div class="fl01-bottom_div">
      					<a href="#" target="_blank" class="fl01-bottom_pic">
      						<img alt="龙山喜乐300g百合面（宽细随机）*3包  全国包邮
      					（除新疆、西藏、内蒙、甘肃、东三省及海南） 隔日发货" src="img/hot1.jpg"/>
      					</a>
      				 <div class="fl01_divL">
      				 	<p>龙山喜乐300g百合面（宽细随机）*3包  全国包邮（除新疆、西藏、内蒙、甘肃、东三省及海南） 隔日发货</p>
      				    <font></font>
      				    <a href="#" target="_blank" class="fl01-pice">
      				    	<i>
      				    		￥36.00
      				    		<span>￥48.00</span>
      				    	</i>
      				    <div class="fl01_end">
      				    	距离结束：
      				    	<span id="day"></span>天
      				    	<span id="hour"></span>时
      				    	<span id="minte"></span>分
      				    	<span id="sec"></span>秒
      				    </div>
      				    </a>
   			    </div> 
      				   <div class="fl01_num">
      				   	<a href="#" target="_blank">抢购</a>
      				   	<span>仅剩：999</span>
      				   </div>
      				   <div class="fl01_divR"></div>
      				   <div class="clear"></div>	  
      				</div>
      		  <div class="fl01-bottom_div">
      					<a href="#" target="_blank" class="fl01-bottom_pic">
      						<img alt="龙山喜乐2包装百合干片（300克/包） 全国包邮
      							（除新疆、西藏、内蒙、甘肃、东三省及海南）隔日发货" src="img/hot2.jpg"/>
      					</a>
      				 <div class="fl01_divL">
      				 	<p>龙山喜乐2包装百合干片（300克/包） 全国包邮（除新疆、西藏、内蒙、甘肃、东三省及海南）隔日发货</p>
      				    <font></font>
      				    <a href="#" target="_blank" class="fl01-pice">
      				    	<i>
      				    		￥58.00
      				    		<span>￥88.00</span>
      				    	</i>
      				    <div class="fl01_end">
      				    	距离结束：
      				    	<span id="day"></span>天
      				    	<span id="hour"></span>时
      				    	<span id="minte"></span>分
      				    	<span id="sec"></span>秒
      				    </div>
      				    </a>
   			    </div> 
      				   <div class="fl01_num">
      				   	<a href="#" target="_blank">抢购</a>
      				   	<span>仅剩：9999</span>
      				   </div>
      				   <div class="fl01_divR"></div>
      				   <div class="clear"></div>	  
      				</div>
      			</div>
      		</div>
      	    <div class="fbL02">
      	    	<div class="fbL_hd">
      	    		<ul class="fbL02_index" style="height: 90px;">
    	    		<li>进店必败</li>
    	    		<li>新品发布</li>
    	    	</ul>
    	   <!-- 限量秒杀template(模板) -->
    <script type="text/html" id="fbL02_li_temp">
	               <%
	                	for(var i=0;i<products.length;i++){
	                	   var product = products[i];
	                	%>
	               <div class="fbL02_li" style="border: 1px solid rgb(255, 255, 255);">
			    	    <div class="fbL02_licont" style="border: 4px solid rgb(255, 255, 255);">
			    	    <a href="#" title="<%= product.description %>" target="_blank">
			    	     <img src="<%= product.bigimg%>" alt="<%= product.description %>">
			    	    	<p><%= product.description %></p>
			    	    <font><%= product.font %></font>
			    	    	<i><%= product.moneynew %><span><%= product.moneyold %></span></i>
			    	    </a>
			          <div class="fbL02_car btn_car_quick docs">
			         <img src="<%= product.carimg %>">加入购物车</div>
			    	    	</div>
			     	  </div>
			   		 <% } %>
    </script>
        <!-- 模板加入的主体 -->
		       <div class="temple" style="overflow:hidden; position:relative; height:265px;background-color: white;">
		       	  <div class="fbL02_box" style="position: relative;">
		       	  	<div class="fbL02_ul"></div>
		       	  </div>
		       </div>
      	    	</div>
      	    </div>
    </div>
      <!-- 右边企业文章 -->
        <div class="fir_bR">
    		<div class="fbR01">
    			<p>企业新闻<a href="#" target="_blank" title="更多">更多></a></p>
    			<ul>
                  
      <li><a href="#" title="创研·搜农坊2017城步助学行" target="_blank">创研·搜农坊2017城步助...</a></li>
     
      <li><a href="#" title=""湘品出湘龙山起，精品百合龙山来",2017龙山百合文化旅游节即将拉开大幕！" target="_blank">"湘品出湘龙山起，精品百合...</a></li>
     
      <li><a href="#" title="2017农产品创意-被玩疯了的黄桃！" target="_blank">2017农产品创意-被玩疯...</a></li>
     
      <li><a href="#" title="0利润！！8.5元/斤搜农坊炎陵黄桃，拔光底价，送消暑福利" target="_blank">0利润！！8.5元/斤搜农...</a></li>
     
      <li><a href="#" title="北纬26°炎陵高山黄桃，记忆一生好味道！" target="_blank">北纬26°炎陵高山黄桃，记...</a></li>
     
      <li><a href="#" title="【速度与激情】搜农坊保证炎陵黄桃品质的心比40度的盛夏更炙热！" target="_blank">【速度与激情】搜农坊保证炎...</a></li>
     
      <li><a href="#" title="炎陵黄桃丰收增产 电商扶贫保驾护航" target="_blank">炎陵黄桃丰收增产 电商扶贫...</a></li>
     
      <li><a href="#" title="【炎陵黄桃加速度】搜农坊炎陵黄桃发货再创新高！" target="_blank">【炎陵黄桃加速度】搜农坊炎...</a></li>
     
    			</ul>
    		</div>
    		<div class="fbR02">
    			<a href="#" target="_blank"><img src="img/fbL02/slide01.jpg"></a>
    			<a href="#" target="_blank"><img src="img/fbL02/slide02.jpg"></a>
    		</div>
    	</div>
        <div class="clear"></div>
      </div>
    <!-- 土货 -->
       <div class="my_sonbl my_fir">
       	  <!-- 上面的土货横幅 -->
	    <div class="my_sontit my_sontit04">
	    	<h2>土货</h2>
	    	<a href="#" target="_blank" title="更多" class="my_sonmore">更多></a>
	    	<ul>
	    <li><a href="#" target="_blank">特惠爆款</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    		  
      <li><a href="#" title="源产肉禽">源产肉禽</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="农家食材">农家食材</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="源创零食">源创零食</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
	    	</ul>
	    	<div class="clear"></div>
	    </div>
	      <!-- 土货图片样式列表 -->
	      <div class="fir_list">
	      <!-- 左边 -->
<div class="fir_lL">	    	         
 	<img alt="散养土鸡蛋" src="img/localproduct/left.jpg" onClick="window.location.href = 'http://www.so50.com/products/ProductDec/4551.html'" width="291" height="526"/>                                                     
	    		<ul class="fir_co04">
	    			<div class="class_ser">
            	<ul>
                <li><a href="#">九疑山</a></li>
                <li><a href="#">腊八豆</a></li>
                <li><a href="#">酱辣椒</a></li>
                <li><a href="#">阿婆小菜</a></li>
                <li><a href="#">毛阿婆</a></li>
                <li><a href="#">特色食品</a></li>
                </ul>
            </div>
	    		</ul>
	    	</div>
	    	<!-- 右边 -->
	  <!-- 土货右边的template(模板) -->
	    <script type="text/html" id="fir_lR_temp">
	    <%
          for(var i=0;i<products.length;i++){
               var product = products[i];
         %>
	    	<div class="fir_lRbox">
	    	<a  href="#" title="<%= product.description%>" target="_blank">
	    				<img src="<%= product.bigimg%>" alt="<%= product.description%>">
	    				<p><font><%= product.description%></font>
	    				   <i><%= product.moneynew%>&nbsp;<span><%= product.moneyold%></span></i>
	    				</p>
	    			</a>
	  <i class="fir_lsadd docs"><img src="<%= product.carimg%>">加入购物车</i>
	      </div>
          <% } %>
	    </script>
	    <!-- 添加的主体 -->
	    	  <div class="localproducts_fir_lR flybtn">
	    	  	
	    	  </div>
	   <div class="clear"></div>
       </div>



           <!-- 水果 -->
       <div class="my_sonbl my_fir">
       	  <!-- 上面的水果横幅 -->
	    <div class="my_sontit my_sontit04" style="background: #fbf4e8;
    border-bottom: 1px solid #f69a08;">
	    	<h2 style="color: #f69a08;">水果</h2>
	    	<a href="#" target="_blank" title="更多" class="my_sonmore" style="color: #f69a08;">更多></a>
	    	<ul>
	    <li><a href="#" target="_blank">特惠爆款</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    		  
      <li><a href="#" title="源产肉禽">源产肉禽</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="农家食材">农家食材</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="源创零食">源创零食</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
	    	</ul>
	    	<div class="clear"></div>
	    </div>
	      <!-- 水果图片样式列表 -->
	      <div class="fir_list">
	      <!-- 左边 -->
<div class="fir_lL">	    	         
 	<img alt="散养土鸡蛋" src="img/fruits/left.jpg" onClick="window.location.href = 'http://www.so50.com/products/ProductDec/4551.html'" width="291" height="526"/>                                                     
	    		<ul class="fir_co04">
	    			<div class="class_ser">
            	<ul>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">进口水果</a></li>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">国产水果</a></li>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">冬枣</a></li>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">奇异果</a></li>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">牛油果</a></li>
                <li style="border: 1px solid #f69a08"><a style="color: #f69a08;" href="#">血丝李</a></li>
                </ul>
            </div>
	    		</ul>
	    	</div>
	    	<!-- 右边 -->
	  <!-- 水果右边的template(模板) -->
	    <script type="text/html" id="fruits-fir_lR_temp">
	    <%
          for(var i=0;i<products.length;i++){
               var product = products[i];
         %>
	    	<div class="fir_lRbox">
	    	<a  href="#" title="<%= product.description%>" target="_blank">
	    				<img src="<%= product.bigimg%>" alt="<%= product.description%>">
	    				<p><font><%= product.description%></font>
	    				   <i><%= product.moneynew%>&nbsp;<span><%= product.moneyold%></span></i>
	    				</p>
	    			</a>
	  <i class="fir_lsadd docs"><img src="<%= product.carimg%>">加入购物车</i>
	      </div>
          <% } %>
	    </script>
	    <!-- 添加的主体 -->
	    	  <div class="fruits_fir_lR flybtn">
	    	  	
	    	  </div>
	   <div class="clear"></div>
       </div>

      
         <!-- 零食 -->
       <div class="my_sonbl my_fir">
       	  <!-- 上面的零食横幅 -->
	    <div class="my_sontit my_sontit04" style="background: #eaf7fb;
    border-bottom: 1px solid #0b9dcd;">
	    	<h2 style="color: #0b9dcd;">零食</h2>
	    	<a href="#" target="_blank" title="更多" class="my_sonmore" style="color: #0b9dcd;">更多></a>
	    	<ul>
	    <li><a href="#nbsp;|</li>	    		  
      <li><a href="#&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="农家食材">农家食材</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="#" title="源创零食">源创零食</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
	    	</ul>
	    	<div class="clear"></div>
	    </div>
	      <!-- 零食图片样式列表 -->
	      <div class="fir_list">
	      <!-- 左边 -->
<div class="fir_lL">	    	         
 	<img alt="散养土鸡蛋" src="img/snacks/left.jpg" onClick="window.location.href = 'http://www.so50.com/products/ProductDec/4551.html'" width="291" height="526"/>                                                     
	    		<ul class="fir_co04">
	    			<div class="class_ser">
            	<ul>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">蜂蜜</a></li>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">葡萄干</a></li>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">巧克力</a></li>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">蓝莓酒</a></li>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">香酥饼干</a></li>
                <li style="border: 1px solid #0b9dcd;"><a style="color: #0b9dcd;" href="#">布丁</a></li>
                </ul>
            </div>
	    		</ul>
	    	</div>
	    	<!-- 右边 -->
	  <!-- 零食右边的template(模板) -->
	    <script type="text/html" id="snacks-fir_lR_temp">
	    <%
          for(var i=0;i<products.length;i++){
               var product = products[i];
         %>
	    	<div class="fir_lRbox">
	    	<a  href="#" title="<%= product.description%>" target="_blank">
	    				<img src="<%= product.bigimg%>" alt="<%= product.description%>">
	    				<p><font><%= product.description%></font>
	    				   <i><%= product.moneynew%>&nbsp;<span><%= product.moneyold%></span></i>
	    				</p>
	    			</a>
	  <i class="fir_lsadd docs"><img src="<%= product.carimg%>">加入购物车</i>
	      </div>
          <% } %>
	    </script>
	    <!-- 添加的主体 -->
	    	  <div class="snacks_fir_lR flybtn">
	    	  	
	    	  </div>
	   <div class="clear"></div>
       </div>


           <!-- 礼盒 -->
       <div class="my_sonbl my_fir">
       	  <!-- 上面的礼盒横幅 -->
	    <div class="my_sontit my_sontit04" style="background: #fbf0ea;
    border-bottom: 1px solid #e70908;">
	    	<h2 style="color: #e70908;">礼盒</h2>
	    	<a href="#" target="_blank" title="更多" class="my_sonmore" style="color: #e70908;">更多></a>
	    	<ul>
	    <li><a href="#" target="_blank">特惠爆款</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    		  
      <li><a href="#" title="源产肉禽">源产肉禽</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="/products/ProductList.aspx?typid=282" title="农家食材">农家食材</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
      <li><a href="/products/ProductList.aspx?typid=284" title="源创零食">源创零食</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>	    	     
	    	</ul>
	    	<div class="clear"></div>
	    </div>
	      <!-- 礼盒图片样式列表 -->
	      <div class="fir_list">
	      <!-- 左边 -->
<div class="fir_lL">	    	         
 	<img alt="散养土鸡蛋" src="img/giftbox/left.jpg" onClick="window.location.href = 'http://www.so50.com/products/ProductDec/4551.html'" width="291" height="526"/>                                                     
	    		<ul class="fir_co04">
	    			<div class="class_ser">
            	<ul>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">华美礼盒</a></li>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">精品礼盒</a></li>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">中秋礼盒</a></li>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">月饼礼盒</a></li>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">蓝莓酒</a></li>
                <li style="border: 1px solid #e70908;"><a style="color: #e70908;" href="#">沃琳</a></li>
                </ul>
            </div>
	    		</ul>
	    	</div>
	    	<!-- 右边 -->
	  <!-- 礼盒右边的template(模板) -->
	    <script type="text/html" id="giftbox-fir_lR_temp">
	    <%
          for(var i=0;i<products.length;i++){
               var product = products[i];
         %>
	    	<div class="fir_lRbox">
	    	<a  href="#" title="<%= product.description%>" target="_blank">
	    				<img src="<%= product.bigimg%>" alt="<%= product.description%>">
	    				<p><font><%= product.description%></font>
	    				   <i><%= product.moneynew%>&nbsp;<span><%= product.moneyold%></span></i>
	    				</p>
	    			</a>
	         <i class="fir_lsadd docs"><img src="<%= product.carimg%>">加入购物车</i>
	      </div>
          <% } %>
	    </script>
	    <!-- 添加的主体 -->
	    	  <div class="giftbox_fir_lR flybtn">
	    	  	
	    	  </div>
	   <div class="clear"></div>
       </div>
       <!-- 倒数第二个框 -->
        <div class="fir_btm">
      <div class="fir_btm01">
        <div class="fir_btmtop">
          <!-- 健康养生 -->
          <a href="/news/pronews/" target="_blank" title="更多">更多&gt;</a>
        </div>
        <div class="fir_01btm">
            
                <a href="/news/pronews/2451.html" title="茅针的功效作用食用方法以及图片汇总大全" target="_blank"><img src="img/indexLast/l1.jpg" alt="茅针的功效作用食用方法以及图片汇总大全" style=" width:168px; height:124px;"/></a>
                  
              <ul>
                 
             <li><a href="#" title="2017炎陵黄桃，湖南炎陵黄桃" target="_blank">2017炎陵黄桃，湖南炎陵黄桃</a></li>
                  
             <li><a href="#" title="茅针的功效作用食用方法以及图片汇总大全" target="_blank">茅针的功效作用食用方法以及图片汇总大全</a></li>
                  
             <li><a href="#" title="炎陵黄桃这样吃，比罐头好吃一万倍" target="_blank">炎陵黄桃这样吃，比罐头好吃一万倍</a></li>
                  
             <li><a href="#" title="山楂枸杞茶，怎样制作山楂枸杞茶？" target="_blank">山楂枸杞茶，怎样制作山楂枸杞茶？</a></li>
                  
             <li><a href="#" title="枸杞子泡水喝的害处" target="_blank">枸杞子泡水喝的害处</a></li>
                  
          </ul>
        </div>
      </div>
      <div class="fir_btm02">
        <div class="fir_btmtop">
          <!-- 热门晒单 -->
          <a href="/news/rencaip/" target="_blank" title="更多">更多&gt;</a>
        </div>
        <div class="fir_02btm">
              
    <a href="#" title="胡萝卜茅根马蹄猪骨汤" target="_blank" class="fir_02det">
            <img src="img/indexLast/m1.png" alt="胡萝卜茅根马蹄猪骨汤">
            <div class="fir_02det">
              <font>胡萝卜茅根马蹄猪骨汤</font>
              <p>材料：胡萝卜1条，鲜白茅根100g，马蹄6个，猪...</p>
            </div>
          </a>
                  
    <a href="#" title="鲜茅根薏米粥 --清热凉血，除湿利尿" target="_blank" class="fir_02det">
            <img src="img/indexLast/m2.png" alt="鲜茅根薏米粥 --清热凉血，除湿利尿">
            <div class="fir_02det">
              <font>鲜茅根薏米粥 --清热凉血，除湿利尿</font>
              <p>白茅根、茅针清热解毒。此外还有镇静、解热镇痛、除...</p>
            </div>
          </a>
                  

        </div>
      </div>
      <div class="fir_btm03">
        <div class="fir_btmtop">
          <!-- 我有新鲜货 -->
          <span  onclick="javascript:GetImgData();"><img src="img/indexLast/r11.png">换一换</span>
        </div>
      <ul class="fir_03ul" id="pic_box">
          <li><img src="img/indexLast/r1.jpg"></li>
          <li><img src="img/indexLast/r2.jpg"></li>
          <li><img src="img/indexLast/r3.jpg"></li>
          <li><img src="img/indexLast/r4.jpg"></li>
      </ul>
      <div class="fir_03my">
        <a href="/usershop/" target="_blank" title="我也要发布产品">我也要发布产品</a>
      </div>
      </div>
        <div class="clear"></div>
    </div>  

	<div class="footer"></div>
  <div class="rNume"></div>
</body>
</html>